<div class="branding-header">
  <div class="branding-header logo">
    <%= link_to "https://libraries.emory.edu/" do %>
      <%= image_tag("shield.svg", :alt => "Emory Library") %>
    <% end %>
  </div>
  <div class="branding-header">
    <div class="row ml-0">
      <div>
        <%= link_to "Emory University", "https://libraries.emory.edu/", class: "branding-header organization" %>
      </div>
    </div>
    <div class="row ml-0">
      <div>
        <%= link_to "Emory Libraries", "https://libraries.emory.edu/", class: "branding-header division" %>
      </div>
    </div>
  </div>
</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- Don't show regular search on advanced search page -->
<form class="form-inline col-md-8 my-2 my-lg-0" id="search-form">
  <% unless request.original_fullpath == "/advanced" %>
    <%= render_search_bar %>
  <% end %>
</form>
