<div class="branding-header">
  <div class="branding-header logo">
    <%= link_to root_path do %>
      <%= image_tag("shield.svg", :alt => "Emory Library") %>
    <% end %>
  </div>
  <div class="branding-header">
    <div class="row ml-0">
      <div>
        <%= link_to "Emory University", "https://emory.edu/", class: "branding-header organization" %>
      </div>
    </div>
    <div class="row ml-0">
      <div>
        <%= link_to "Emory Libraries", "https://libraries.emory.edu/", class: "branding-header division" %>
      </div>
    </div>
  </div>
</div>
<button class="navbar-toggler my-auto" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#user-util-collapse" data-bs-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<%= render 'shared/top_links' %>
<% # Don't show regular search on advanced search page %>
<div class="form-inline col-lg-8 col-md-12 col-sm-12" id="search-form">
  <% unless request.original_fullpath == "/advanced" %>
    <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
          url: search_action_url,
          advanced_search_url: search_action_url(action: 'advanced_search'),
          params: search_state.params_for_search.except(:qt),
          autocomplete_path: search_action_path(action: :suggest))) %>
  <% end %>
</div>
