<section id="emory-lux-footer">
<footer>
    <div>
      <a class="logo-badge" target="_blank" rel="noopener noreferrer" href="https://libraries.emory.edu">
        <div class="logo">
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245.5 285.39">
          <title>Emory Libraries and Shield Logo</title>
            <g fill="#091c44" >
              <path d="M61.77,2.37,56.47,8c-.07,4-.16,9.06-.18,11.54C55.78,58.93,58.45,120.28,122.63,150c34-15.73,59.66-42.77,66.41-84.7C193,41,190.63,17.92,190.64,2.44Z" class="cls-1"></path>
            </g>
            <g fill="white">
              <path fill="white" d="M59.78,0,54.31,5.75c-.08,4.15-.17,9.36-.19,11.92-.52,40.7,2.23,104,68.47,134.66,35-16.23,61.58-44.14,68.55-87.42,4.05-25,1.64-48.86,1.65-64.85Zm63.14,147.65C51.14,114.48,59.75,40.34,59.79,5.7l127,.13C186.75,40.47,194.75,114.63,122.92,147.65Z" class="cls-1"></path>
              <path fill="white" d="M95.77,91,84,103.62c-.4.41-.43.84-.21,1.1a4.29,4.29,0,0,0,1,.91c.33.07.54.21,1.09-.39.23-.23,5.81-5.64,12.42-12A6.62,6.62,0,0,1,97,92.38,14,14,0,0,1,95.77,91Z" class="cls-1"></path>
              <path fill="white" d="M99.19,89.54A19.89,19.89,0,0,0,102.6,92l-1.18,1.14c-.44.47-2.06-.28-3.66-1.7s-2.5-3-2.05-3.44L97,86.84A15.08,15.08,0,0,0,99.19,89.54Z" class="cls-1"></path>
              <path fill="white" d="M157.19,103.53a3.45,3.45,0,0,0,1.1-2l1.15.55c.34.37.07,1.7-1,2.75s-2.52,1.4-2.86,1l-.62-1.25A3.28,3.28,0,0,0,157.19,103.53Z" class="cls-1"></path>
              <path fill="white" d="M155.45,101.67a3.33,3.33,0,0,0,.92-1.45l.75.52c.24.26,0,1.1-.76,1.87s-1.84,1-2.09.76l-.44-.83A4.49,4.49,0,0,0,155.45,101.67Z" class="cls-1"></path>
              <path fill="white" d="M150.83,36.76a35.8,35.8,0,0,0,6.57,4.79c-.06-.1-.14-.18-.2-.27-1.82-2.66-6.66-6.37-10.43-9A22.53,22.53,0,0,0,150.83,36.76Z" class="cls-1"></path>
              <path fill="white"d="M159,43.74l-1.32,1.17c-1.84.7-6-2.5-9.34-5.4-2.2-1.93-6.63-6.82-5.38-8.8l.55-.57-1-.58a2.36,2.36,0,0,0-1.41-.26c-.52.06-.95.28-1,.71a7.3,7.3,0,0,0,1.12,3.44c.7,1.38,3.45,5.37,9,9.81a26.88,26.88,0,0,0,7.53,4c.37.13,1.69.42,2.27-.15s-.07-1.6-.51-2.59A8.26,8.26,0,0,0,159,43.74Z" class="cls-1"></path>
              <path fill="white"d="M155.08,99.65C153,97.22,136.55,78,134.06,75c-2.67-3.17-19.46-23.16-25-30.09-6.42-8-7.66-19.19-7.66-20.53,0-.49,0-.95,0-1.35,0-.14-.35-.1-.44.06-.3.63-2.25,4.68-8.36,10.5A47.15,47.15,0,0,1,80.19,42c-.1,0-.17.22-.11.26a35.37,35.37,0,0,0,4.34.35c5.75.48,8.12,2.35,13.36,5.69,6,3.87,20.65,18.05,23.42,20.72s31.19,31.1,31.8,31.78a4.78,4.78,0,0,0,.49.51,2.07,2.07,0,0,0,1.08-.45,2.56,2.56,0,0,0,.73-.91Zm-2.79-.82s-15.66-15.93-25.61-26.2C107.1,52.38,98.11,46.12,93.32,43.56a41.44,41.44,0,0,0-6.14-2.34c-.43-.23-.5-.55.28-1.25a14.18,14.18,0,0,1,4-2.15c.4-.16,1.78.29,3.17.89,2.66,1.15,4.9,2.51,10.8,8.38,2,2,4.21,4.28,6.73,7C129.91,73,152.7,98.52,152.7,98.52Z" class="cls-1"></path>
              <path fill="white" d="M166.41,29.62c-.6.68-1.6,2.26-2.21,2.8.66-.58,1-2,.31-5.7a19.66,19.66,0,0,0-1.16-4.3c-.2-.48-.49-.36-.82,0a12.54,12.54,0,0,0-1.14,1.79c-.09.31,0,0-1.21-3.74a17.72,17.72,0,0,1-1.05-4.87c0-.45,0-.91.06-1.23s-.17-.29-.91,0a13,13,0,0,0-4.93,5.77c-.77,1.95-.83,3.55-1,2.58-.22-1.91-.18-1.88-.38-1.82a7.12,7.12,0,0,0-4.75,6.68c-.91-.24-1.63-.23-2,.17-1.16,1.25,1.41,5.5,5.72,9.5s8.76,6.24,9.92,5c.47-.5.3-1.5-.3-2.76a7.24,7.24,0,0,0,1.19-.26s5-.93,5.05-5.41S166.41,29.62,166.41,29.62ZM165,35.31a6.2,6.2,0,0,1-2.65,2.3,8,8,0,0,1-4.84.47c-4.95-1.53-7.94-6.6-7.94-6.6-3.91-6.32,1.34-9,1.77-9.1a8.74,8.74,0,0,0-.21,3.48,22.08,22.08,0,0,0,1.29,2.93,2.9,2.9,0,0,1-.5,2.82c-.17.23.29.11.39,0s.12-.12.29-.24a2.38,2.38,0,0,0,1.18-2.27c-.45-1.95-1.86-3.18-.19-7.2a17.2,17.2,0,0,1,3.6-5c.38-.25.62-.57.62-.31s.43,2.09.64,3.26,1.58,3.56,1.29,6.88-5.72,7-6.46,7.17a2.36,2.36,0,0,0-.72.4c-.19.19.06.23.22.25a10.68,10.68,0,0,0,4.43-1.79,13.33,13.33,0,0,0,3.55-3.67,21.08,21.08,0,0,0,1.48-4.49c.16-.37.31-.36.37-.15s.44,1.66.58,2.39a14.49,14.49,0,0,1,.33,2.82c0,2.49-.71,3.65-2.18,4.77a5.31,5.31,0,0,1-2.74,1l-.36.06c-.14,0-.28.06,0,.2a3.38,3.38,0,0,1,.36.16,4.55,4.55,0,0,0,3.69-.36,11.75,11.75,0,0,0,2.12-1.71c.35-.33.82-1,.88-.75A3.91,3.91,0,0,1,165,35.31Z" class="cls-1"></path>
              <path fill="white" d="M98.77,18a10.6,10.6,0,0,0-4.22,1.55A53.12,53.12,0,0,0,79.06,32.91a27.83,27.83,0,0,0-2.43,3.81c-1.84,3.49.72,4.31,2.52,3.58A35,35,0,0,0,87.86,35c7.3-6.12,11.57-11.88,12.18-14.46C100.31,19.33,100.22,18.09,98.77,18Zm-.87,3.63a25.38,25.38,0,0,1-3.22,4.66c-2,2.35-4.37,4.76-5,5.33-.1.09-.46,0-.31-.34,1.12-2.75-.58-4.57-.37-5.2A5.88,5.88,0,0,1,90,24c2.25-2.1,7.38-4.41,7.6-4.22s.53.28.58.65A3.16,3.16,0,0,1,97.9,21.64Z" class="cls-1"></path>
              <path fill="white" d="M120.76,70.59c-1.2,1.14-19.65,18.86-19.65,18.86.27.25,1,.82,1,.82s17-16.28,18.22-17.46c.33-.33,1.09-1,1.38-1.25Z" class="cls-1"></path>
              <path fill="white" d="M155.57,48.76l.79-.06a2.64,2.64,0,0,0,.71-.13c.16-.13.24-.31,0-.32A11.71,11.71,0,0,1,152.8,47a32.06,32.06,0,0,0-5,1.72c-2.66,1.18-8.49,4.68-20.44,15.63l.94,1.08c4.14-3.74,9.69-8.6,12.68-10.58,5.34-3.48,9.2-5,11.78-5.66A21.51,21.51,0,0,1,155.57,48.76Z" class="cls-1"></path>
              <path fill="white" d="M144,40.07c-3.29-3.41-4.32-5.87-4.85-7.67a1,1,0,0,0,0-.16.13.13,0,0,0-.21.07,2.09,2.09,0,0,0-.05.21c-.28,3.53,0,5-1.43,8.61a39.92,39.92,0,0,1-6.44,10.33c-1.73,2-4.7,5.35-7.39,8.45l1.91,2.26c.17-.23.78-.86,1.47-1.6a146,146,0,0,1,19.88-17.85A38.52,38.52,0,0,1,144,40.07Z" class="cls-1"></path>
              <path fill="white" d="M117,67.12c-3.84,4.34-7.7,8.61-8.82,9.86-1,1.06-9.35,10.09-9.35,10.09a4.11,4.11,0,0,0,.46.65c.27.3.7.7.7.7s17.63-18.09,19-19.48Z" class="cls-1"></path>
              <path d="M5.68,266c0-2.64-3.6-1.74-3.6-2.84a.55.55,0,0,1,.6-.6c1.25,0,2.65.2,4.69.2s3.5-.2,4.39-.2a.55.55,0,0,1,.55.5c0,.9-3,.55-3,3.24v16c0,1.19.6,1.44,3.44,1.44,7.14,0,7.94-3.79,8.64-3.79.25,0,.5.25.5.75,0,4.74-4.1,4.69-6.14,4.69-.95,0-2.2,0-3.4-.15s-2.49-.2-3.44-.2c-1.2,0-2.25.05-3,.1s-1.45.1-1.95.1c-.7,0-1-.05-1-.4,0-1,2.75-.45,2.75-2.94Z" class="cls-1"></path>
              <path d="M34,265.77c0-2.64-3.84-1.89-3.84-2.79,0-.25.15-.45.7-.45,1.35,0,2.89.2,4.44.2s3.35-.2,4.84-.2c.3,0,.5.15.5.4,0,1.3-3,.15-3,2.54V282c0,2.64,3.89,1.89,3.89,2.79,0,.25-.15.45-.7.45-1.34,0-2.89-.2-4.44-.2s-3.34.2-4.84.2c-.3,0-.5-.15-.5-.4,0-1.3,2.94-.15,2.94-2.54Z" class="cls-1"></path>
              <path d="M55,266c0-2.69-3.59-1.64-3.59-2.89,0-.4.4-.6,1-.6a16.45,16.45,0,0,1,1.79.1,14.43,14.43,0,0,0,1.55.1c1.55,0,2.75-.1,4.1-.2,1.14-.1,2.44-.2,4.09-.2,4.09,0,7.14,1.8,7.14,5.14,0,3.5-2.4,4.34-3.85,4.74v.1c3.45.7,5.89,2.45,5.89,5.79,0,3.85-3.44,7.09-11.13,7.09-1.5,0-3-.2-4.54-.2-2.05,0-3.59.2-4.69.2-.5,0-.75-.1-.75-.5,0-1.45,3,0,3-3.44Zm3.65,4.44c0,1.3.2,1.6,2.54,1.6,3.75,0,6.19-.3,6.19-3.54,0-3.65-2.49-5.09-6-5.09-2.34,0-2.69.35-2.69,3.29Zm0,11.63c0,1.2.4,1.7,3.49,1.7,5.49,0,7-2.24,7-5.14,0-3.09-1.4-4.89-6.09-4.89-4.19,0-4.39.05-4.39,1.3Z" class="cls-1"></path>
              <path d="M89.43,282c0,2.64,3.84,1.89,3.84,2.79,0,.25-.15.45-.7.45-1.35,0-2.89-.2-4.44-.2s-3.34.2-4.84.2c-.3,0-.5-.15-.5-.4,0-1.3,3-.1,3-3.24V266.72c0-3.89-3.59-2.44-3.59-3.54,0-.5.4-.65,1-.65,1,0,2.44.2,4.24.2,2.7,0,4.54-.2,6.19-.2,6.49,0,8.34,3.24,8.34,6,0,3.69-2.85,4.64-4.89,5.29l6,8c1,1.4,1.75,1.65,2.85,1.65.85,0,1.1.1,1.1.5s-.65.95-1.65.95h-2.84a2.91,2.91,0,0,1-2.55-1.35l-4.59-6.54c-1.55-2.29-1.9-2.49-3.1-2.49H89.43Zm0-8.74h3.49c3.69,0,5.34-1.35,5.34-4.19,0-4.64-4.79-5.09-6.64-5.09-1.44,0-2.19.5-2.19,2.09Z" class="cls-1"></path>
              <path d="M120.21,277.05c-.55,0-.9.35-1.3,1.1-1.4,2.65-1.65,3.4-1.65,3.9,0,1.24,1,1.89,2.65,2,.85.05,1.25.15,1.25.6s-.2.5-.7.5c-1,0-2.45-.2-4.2-.2-1.39,0-3.29.2-4,.2-.3,0-.45-.05-.45-.35,0-.7,2-.45,3.65-3.74,4.74-9.49,8.58-15.73,9.73-17.72.4-.7.6-1.05.85-1.05s.4.35.6.75c2.39,4.74,6.19,13.47,8.38,18.67,1.05,2.49,4,2.09,4,2.89,0,.4-.39.55-1.19.55s-2.45-.2-3.8-.2c-1.64,0-3.39.2-4.94.2-.4,0-.55-.15-.55-.5,0-.95,2.6-.35,2.6-2.64,0-.65-.25-1.35-1.5-3.85-.4-.8-.6-1.15-1.3-1.15Zm5.14-7.93c-.45-.9-.55-1.25-.7-1.25s-.3.4-.6.95l-2.75,5.09a4,4,0,0,0-.44.95c0,.2.15.3.35.3h6.63c.2,0,.35-.1.35-.3a3.75,3.75,0,0,0-.45-.95Z" class="cls-1"></path>
              <path d="M152.07,282c0,2.64,3.84,1.89,3.84,2.79,0,.25-.15.45-.7.45-1.35,0-2.89-.2-4.44-.2s-3.35.2-4.84.2c-.3,0-.5-.15-.5-.4,0-1.3,3-.1,3-3.24V266.72c0-3.89-3.59-2.44-3.59-3.54,0-.5.4-.65.95-.65,1,0,2.44.2,4.24.2,2.69,0,4.54-.2,6.19-.2,6.49,0,8.33,3.24,8.33,6,0,3.69-2.84,4.64-4.89,5.29l6,8c1.05,1.4,1.75,1.65,2.85,1.65.85,0,1.09.1,1.09.5s-.65.95-1.64.95h-2.85a2.89,2.89,0,0,1-2.54-1.35L158,277.1c-1.55-2.29-1.9-2.49-3.1-2.49h-2.79Zm0-8.74h3.49c3.69,0,5.34-1.35,5.34-4.19,0-4.64-4.79-5.09-6.64-5.09-1.45,0-2.19.5-2.19,2.09Z" class="cls-1"></path>
              <path d="M180.43,265.77c0-2.64-3.84-1.89-3.84-2.79,0-.25.15-.45.7-.45,1.35,0,2.89.2,4.44.2s3.35-.2,4.84-.2c.3,0,.5.15.5.4,0,1.3-3,.15-3,2.54V282c0,2.64,3.89,1.89,3.89,2.79,0,.25-.15.45-.7.45-1.35,0-2.89-.2-4.44-.2s-3.35.2-4.84.2c-.3,0-.5-.15-.5-.4,0-1.3,2.94-.15,2.94-2.54Z" class="cls-1"></path>
              <path d="M204.48,281.5c0,1.49,1.15,2,3.89,2,6.79,0,7.89-3.69,8.54-3.69.25,0,.35.25.35.55a6.36,6.36,0,0,1-2,3.89c-.9.75-1.65.95-3.84.95-1.85,0-3.75-.2-6.14-.2s-4.94.2-6.64.2c-.5,0-1-.15-1-.45,0-1.1,3.19,0,3.19-3.14V266.17c0-2.89-3.34-2.09-3.34-3.14,0-.35.3-.5.8-.5,2.05,0,5.24.2,8.34.2,3.49,0,7.88-.2,8.48-.2a.54.54,0,0,1,.5.5c0,.6-.05,1.4-.05,4.34,0,.6-.2.8-.55.8s-.55-.85-.65-1.45c-.3-1.8-2.15-2.49-5.94-2.49-2.59,0-3.94,0-3.94,1.44v6.74h4.59c3.59,0,2.69-2.89,3.79-2.89a.52.52,0,0,1,.55.55c0,.6-.15,1.59-.15,2.64,0,1.55.1,3,.1,4.24,0,.55-.2.75-.65.75-1,0-.1-3.44-3.54-3.44h-4.69Z" class="cls-1"></path>
              <path d="M238,263a9.21,9.21,0,0,0,2.19.65c1.15,0,.75-.7,1.2-.7.2,0,.3.2.3.55,0,.7-.1,1.94-.1,3,0,.85.1,2.65.1,3.4a.48.48,0,0,1-.5.54c-.3,0-.5-.59-.7-1.19-.6-1.75-1.89-5.49-6.24-5.49-2.59,0-4.49,1.34-4.49,3.54,0,5.19,12.28,3.64,12.28,11.13,0,3.85-3.15,7-8.28,7a11.82,11.82,0,0,1-5.94-1.3c-.7-.35-.75-.55-.85-1.45-.15-1.54-1-4.09-1-5.09a.64.64,0,0,1,.6-.7c.45,0,.65.3.94,1.35.6,2.05,3,5.79,6.84,5.79,2.7,0,4.84-1.4,4.84-4.09,0-5.59-12.27-3.94-12.27-11.13,0-3.2,2.59-6.44,7.28-6.44A11.71,11.71,0,0,1,238,263Z" class="cls-1"></path>
              <path d="M130.81,199c14.3,0,23.32,13,23.32,26.31,0,13.55-8.58,22.13-19.29,22.13-14.52,0-23.39-13.12-23.39-26.68C111.45,209.2,118.49,199,130.81,199Zm1,50.65c16.34,0,27.69-10.64,27.69-27.13,0-15.17-11.5-25.95-26.45-25.95s-26.88,11.07-26.88,26.32C106.13,238.37,115.85,249.67,131.77,249.67Z" class="cls-1"></path>
              <path d="M174.25,202.3c0-2.77,1.5-2.63,4.06-2.63,7,0,13.61,2.92,13.61,11.6s-6.83,10.11-9.91,10.11c-3.34,0-7.76.34-7.76-1Zm14,19.64c5-2,9-6.76,9-12.3,0-13.75-15.76-12.32-16.9-12.32-3.72,0-7.75.29-11.85.29a39.27,39.27,0,0,1-4.55-.29c-.86,0-1.42.42-1.42.85,0,2.43,6.11-.5,6.11,6.34v36.21c0,5.41-5.2,4.42-5.2,6.21a.74.74,0,0,0,.72.78c2.7,0,5.39-.29,8.08-.29,5.91,0,7.54.29,8.18.29s1.21.14,1.21-.57c0-2.43-7.41-.21-7.41-6.35v-15c0-.71-.42-2,1.84-2,8,0,6.93-.21,9.49,3.78L193.5,240c2.71,4.06,5.48,7.7,10.67,7.7.65,0,6.28,0,6.28-.86,0-1.71-5.14.93-10.26-6.92Z" class="cls-1"></path>
              <path d="M209.07,201.79c-1.85-3.06-5.33-2.21-5.33-3.41a1.08,1.08,0,0,1,.93-1.08c1.92,0,3.26.31,8.1.31,2.34,0,4.27-.31,5-.31.49,0,1.34.08,1.34.72,0,1.21-3.33,1.27-3.33,3.34a5.79,5.79,0,0,0,1.28,2.92L225.62,218c.56.85,1,1.28,1.41,1.28s.77-.5,1.34-1.42l7.32-11.9a6.69,6.69,0,0,0,1.5-3.92c0-3.48-5.33-2-5.33-3.69,0-.93.7-1.08,1.49-1.08,1.7,0,3.48.31,5.18.31,2.06,0,4.12-.31,6.18-.31a.92.92,0,0,1,.79.86c0,.78-1.2,1.07-1.71,1.35-1.91,1.14-2.84,3.13-4,4.92L229.86,220c-1.14,1.78-1.7,2.14-1.7,3.21V240.6c0,6.2,5.83,4.2,5.83,6.41,0,.64-.64.71-1.63.71s-5.2-.31-7.8-.31c-3.19,0-5.75.31-6.39.31s-1.06-.07-1.06-.85c0-2,5.47-.15,5.47-5.2V224.43c0-1.34-1.07-2.77-1.63-3.62Z" class="cls-1"></path>
              <path d="M98,241.14c.35,6,5.61,3.34,5.61,5.83,0,.71-.93.71-1.7.71-1.36,0-3.85-.31-6.68-.31-2.19,0-4.47.31-6.15.31-.63,0-.78-.36-.78-.64,0-2.14,4.48-.57,4.4-5.83l-1.93-27.57c0-1.79-.36-2.78-.78-2.78s-1.15.64-1.87,2.13L73.42,243c-.36.64-1.49,3.55-2.21,3.55S70,245,69.78,244.48l-15.14-31.7c-.23-.57-.58-.78-.87-.78s-.43.35-.48,1.07L51.21,238c-.36,9.45,6.38,6.33,6.38,8.89,0,.71-.78.78-1.78.78s-4.12-.31-6.21-.31c-3.7,0-4.91.31-6.28.31-.51,0-.72-.36-.72-.85,0-2.42,4.54.49,5-6.91.86-11.61,1.72-19.16,1.72-26.7,0-16.74-5.51-12.75-5.51-15.17,0-.64.56-.79,1.2-.79,1.28,0,2.56.31,3.91.31s2.55-.31,3.8-.31c1,0,1.14,1.21,1.49,2l17,36.17c.79,1.5,1.06,2.14,1.57,2.14.36,0,1.06-1.49,2.21-3.85l17-34c.41-.78,1-2.49,1.83-2.42s3,.31,3.32.31c1.65,0,2.28-.31,3.42-.31a.8.8,0,0,1,.71.86c0,2.28-5.69-.78-5.4,7.69Z" class="cls-1"></path>
              <path d="M11.55,218.07c0,2.42-.14,2.42,2.69,2.42h7.67c7.37,0,5.47-5.7,7.16-5.7.56,0,.77.78.77,1.35,0,2.5-.1,4.92-.1,7.17,0,1.85.1,3.71.1,5.63,0,.64-.28.92-.77.92-2.19,0,.21-6.27-5.74-6.27H12.82c-1.49,0-1.27,1.22-1.27,2.29V239c0,4.2-.56,5.91,5.39,5.91,16.38,0,18.79-7.34,19.72-7.34.49,0,.56.72.56.86,0,2.56-1.84,5.05-3.54,6.91-2.28,2.59-3.84,2.45-6.94,2.45-5.4,0-10.79-.44-16.18-.3-2.83.08-5.81.3-8.64.3-.65,0-1.07-.15-1.07-.73.14-.86.86-.72,3.13-1.87,1.84-.85,2-2.85,2-6.19V206.52c0-3.21,0-6.63-3.84-7.2C1.56,199.18,0,199,0,198.21c0-.57.42-.85,2.48-.85,13.39,0,17.09.3,20.07.3,1.42,0,7.93-.3,10.14-.3.56,0,.7.71.7,1.56,0,7.91-1,8.48-1.42,8.48-1.71,0-.57-3.42-1.71-5.06-1.83-2.42-9.2-2-12-2-6.81,0-6.67-.28-6.67,4.49Z" class="cls-1"></path>
            </g>
          </svg>
        </div>
      </a>
    </div>
      <div class="footer-list" style="grid-column: 1;">
      <ul>
      <li>
      <%= link_to "About Digital Collections", about_path, class: "link" %>
      </li></ul>
      </div>
      <div class="footer-list" style="grid-column: 2;"> 
      <ul>
      <li>
        <%= link_to t('Copyright & Content'), 
                      'https://libraries.emory.edu/about/policies/digital-collections-copyright-and-content-policy.html', 
                      target: '_blank',
                      rel: 'noopener noreferrer',
                      class: "link" 
        %>
      </li>
    </ul>
      </div>
      <div class="footer-list" style="grid-column: 4;"> 
      <ul>
      <li><%= link_to 'Help & Contacts', contact_path, class: "link" %></li>
    </ul>
      </div>
      <div class="footer-list" style="grid-column: 5;">
        <ul>
          <li><%= link_to 'Donate',
                'https://libraries.emory.edu/about/support-emory-libraries',
                target: '_blank',
                rel: 'noopener noreferrer',
                class: "link" %>
          </li>
        </ul>
      </div>
    <div class="footer-version text-center">
    <span class="version-label">Version <span class="version-info" title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span>
    </div>
    <div class="footer-copyright">
      <span class="copyright-signature">Copyright &copy <%= Date.today.year %> Emory University All Rights Reserved.
      <a class="copyright-policy" target="_blank" rel="noopener noreferrer" href="https://libraries.emory.edu/about/policies/privacy-policy.html"> Privacy Policy </a>
      <a style="margin-right: 10px;" target="_blank" rel="noopener noreferrer" href="http://www.emory.edu/home/about-this-site/copyright.html" class="copyright-policy"> Copyright Statement </a>
       | 201 Dowman Drive, Atlanta, Georgia 30322 | 404.727.6123 </span>
    </div>
</footer>
</section>
