<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% if current_user %>
      <% if current_ability.admin? %>
        <%= link_to t('blacklight.admin'), admin_root_path, class: 'nav-link' %>
      <% end %>
      <li class="nav-item">
        <% if current_user.display_name %>
          <%= link_to "#{t('blacklight.header_links.logout')} #{current_user.display_name} ", destroy_user_session_path, class: 'nav-link last' %>
        <% else %>
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link last' %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item last">
        <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link last' %>
      </li>
    <% end %>
  <% end %>
</ul>
