<% if fields.count > 0 %>
  <div class="find-this-item card mb-2 rounded-0" title="<%= title %>">
    <div class="card-header rounded-0"><%= title %></div>
    <div class="card-body">
      <dl title="<%= title %>">
        <% fields.each do |field_name, field| %>
          <div class="row">
            <dt class="blacklight-<%= field_name.parameterize %> col-md-12">
              <%= helpers.find_item_field_label(document, field_name) %></dt>
            <dd class="blacklight-<%= field_name.parameterize %> col-md-12">
              <%= helpers.find_item_field_value(document_presenter, field, field_name) %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
