<% @page_title = "#{t('about')} - #{application_name}" %>
<% title = I18n.t('about'); abbr = title.split(' ').first(3).join(' ') + '...' %>

<%= render 'catalog/breadcrumbs', crumb_hashes: [{ curr_page: true, abbr: abbr, link: '/about', title: title }]
%>
<div class="row static-heading-row about">
<%= render 'static/static_heading', 
              title: title, 
              subheading: "The digital front door to unique cultural heritage and scholarship collections from Emory University." 
%>
</div>
<div class="row static-body about">
  <div class="col-lg-8 about-blurbs">
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " dlp-blurb-header",
                    blurb_header: "Digital Library Program",
                    blurb_body_klass: " dlp-blurb",
                    blurb: "A key offering of the <a href='https://wiki.service.emory.edu/display/DLPP/Digital+Library+Program+Project+Home' class='static-blurb-link'>Digital Library Program (DLP)</a>, a multi-year Emory Libraries strategic initiative to promote best practices and provide long term access to Emory's unique digital assets and collections, the Emory Digital Collections site is the digital front door to our newly re-architected digital repository.".html_safe
    %>
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " coll-con-blurb-header",
                    blurb_header: "Collections & Content",
                    blurb_body_klass: " coll-con-blurb",
                    blurb: "The <a href='https://libraries.emory.edu/about/welcome.html' class='static-blurb-link'>Emory Libraries’ holdings</a> include hundreds of digital collections and millions of digital assets in queue to be made available through our new Emory Digital Collections site. We will load new content on an ongoing basis, and our repository roadmap includes expanding support for additional types of material.".html_safe
    %>
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " tech-blurb-header",
                    blurb_header: "Technology",
                    blurb_body_klass: " tech-blurb",
                    blurb: "The Cor digital preservation repository infrastructure developed by the Emory Libraries is built using the Samvera digital repository framework, collaboratively developed and maintained by dozens of organizations in the library and museum sectors. The Emory Digital Collections public interface is built upon Blacklight, and our management and preservation functionality is built upon Hyrax, Fedora, Solr, and other components within an AWS framework. Learn more about our technical implementation plans at <a href='https://wiki.service.emory.edu/pages/viewpage.action?pageId=140543688' class='static-blurb-link'>our wiki site</a>.".html_safe
    %>
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " accessibility-blurb-header",
                    blurb_header: "Accessibility",
                    blurb_body_klass: " accessibility-blurb",
                    blurb: "Emory Libraries is committed to the principles of universal design and strives to provide equitable services online and in our spaces. We assess and enhance the usability and accessibility of our digital interfaces on an ongoing basis, and use Section 508 of the Rehabilitation Act and current WCAG AA standards as benchmarks. For further information, please use our <a href='https://emory.libwizard.com/f/dlp-feedback'>feedback form</a> or consult Emory’s <a href='http://accessibility.emory.edu/'>Department of Accessibility Services</a>.".html_safe
    %>
    <%= render 'static/static_content_blurbs', 
                    blurb_header_klass: " help-blurb-header",
                    blurb_header: "Questions, Help, and Feedback",
                    blurb_body_klass: " help-blurb",
                    blurb: "Please visit our <a href='/contact' class='static-blurb-link'>Contact</a> page for more information about Emory Digital Collections or get in touch through our <a href='https://emory.libwizard.com/f/dlp-feedback' class='static-blurb-link'>feedback form</a>. View our user guide at <a href='https://wiki.service.emory.edu/display/DLPP/Emory+Digital+Collections+User+Guide' class='static-blurb-link'>our wiki site</a>.".html_safe
    %>
  </div>
  <div class=" col-lg-4">
    <div class="explore-card about-explore">
      <span class="explore-header">Explore</span>
      <ul class="explore-links">
        <li class="explore-link-item"><%= link_to "Contact Us", contact_path, class: "explore-link" %></li>
        <li class="explore-link-item"><%= link_to "Libraries Strategic Themes/Programmatic Areas", "https://libraries.emory.edu/about/organizational-framework.html", class: "explore-link" %></li>
        <li class="explore-link-item"><%= link_to "Digital Library Program Wiki", "https://wiki.service.emory.edu/display/DLPP", class: "explore-link" %></li>
        <li class="explore-link-item"><%= link_to "Emory Libraries Preservation Policy", "https://wiki.service.emory.edu/display/DLPP/Digital+Preservation+Policies", class: "explore-link" %></li>
        <li class="explore-link-item"><%= link_to "Samvera Digital Repository Framework", "https://samvera.org", class: "explore-link" %></li>
        </ul>
    </div>
  </div>
</div>
