<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms(:about_this_collection) %>
<% if fields.length > 0 %>
  <div class="<%= presenter_class %> card mb-2 rounded-0" title="<%= title %>">
    <div class="card-header rounded-0"><%= title %></div>
    <div class="card-body">
      <dl title="<%= title %>">
        <% fields.each do |field_name, field| %>
          <div class="row">
            <dt class="blacklight-<%= field_name.parameterize %> col-md-5"><%= render_document_show_field_label document, field: field_name %></dt>
            <% if field_name == "finding_aid_link_ssm" %>
              <dd class="blacklight-<%= field_name.parameterize %> col-md-7"><a href="<%= doc_presenter.field_value field %>">Finding Aid</a></dd>
            <% else %>
              <dd class="blacklight-<%= field_name.parameterize %> col-md-7">
                <% if field_is_for_dates?(field_name) %>
                  <%= dates_on_separate_lines(document, field_name).html_safe %>
                <% else %>
                  <%= doc_presenter.field_value field %>
                <% end %>
              </dd>
            <% end %>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
