<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms %>
<% if document["has_model_ssim"]&.first == "CurateGenericWork" %>
  <div class="<%= presenter_class %> card mb-2 rounded-0">
    <div class="card-header rounded-0"><%= title %></div>
    <div class="card-body">
      <dl>
        <dt class="blacklight-emory_rights_statement">Rights Statement:</dt>
        <dd class="blacklight-emory_rights_statement"><%= document["emory_rights_statements_tesim"]&.first %></dd>
        <dt class="blacklight-rights_statement">Rights Status:</dt>
        <dd class="blacklight-rights_statement"><a href=<%= document["rights_statement_tesim"]&.first %>><%= document["human_readable_rights_statement_ssim"]&.first %></a></dd>
        <% fields.each do |field_name, field| %>
          <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
