<% doc_presenter = show_presenter(document) %>
<% pres = presenter.new(document: doc_presenter.fields_to_render, solr_document: document) %>
<% fields = pres.terms %>
<% if fields.length > 0 %>
  <div class="<%= presenter_class %> card mb-2 rounded-0">
    <div class="card-header rounded-0"><%= title %></div>
    <div class="card-body">
      <dl>
        <% fields.each do |field_name, field| %>
          <div class="row">
            <dt class="blacklight-<%= field_name.parameterize %> <%= add_class_dt %>">
              <%= render_document_show_field_label document, field: field_name %></dt>
            <dd class="blacklight-<%= field_name.parameterize %> <%= add_class_dd %>">
              <%= doc_presenter.field_value field unless field_name == "id" %>
              <%= link_to pres.purl, pres.purl if field_name == "id" %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>