<% doc_presenter = index_presenter(document) %>
<% document_actions = capture do %>
  <% # bookmark functions for items/docs -%>
  <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-4 col-lg-3" %>
<% end %>
<%# default partial to display solr document fields in catalog index view -%>

<dl class="row">
  <dt class="col-sm-3"><%= render_document_partials document, [:thumbnail] %></dt>
  <dd class="col-sm-6">
    <dl>
      <% doc_presenter.fields_to_render.each do |field_name, field| -%>
        <div class="row">
          <dt class="blacklight-<%= field_name.parameterize %> index-field-name"><%= render_index_field_label document, field: field_name %></dt>
          <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
        </div>
      <% end -%>
    </dl>
  </dd>
  <dd class="col-sm-3">
    <%= document_actions %>
  </dd>
</dl>
