<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms %>
<% if fields.length > 0 %>
  <div class="<%= presenter_class %> card mb-2">
    <div class="card-header"><%= title %></div>
    <div class="card-body">
      <dl>
        <dd class="blacklight-member_of_collections"><a href=<%= document["member_of_collection_ids_ssim"]&.first %>><%= document["member_of_collections_ssim"]&.first %></a></dd>
        <% if document['parent_work_for_lux_tesim'].present? %>
          <% link, link_title = document['parent_work_for_lux_tesim'].first.split(', ') %>
          <dd class='blacklight-parent_member_of_collections'><a href=<%= link %>><%= link_title %></a></dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
