<div class="row">
  <div class="col-md-3">
    <%= render "is_part_of" %>
  </div>
  <div class="col-md-7">
    <%= render "about_this_item", document: document %>
  </div>
  <div class="col-md-2">
    <%= render 'show_tools' %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "contains" %>
  </div>
  <div class="col-md-6">
    <%= render "subjects_keywords" %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "find_this_item" %>
  </div>
  <div class="col-md-6">
    <%= render "publication_details" %>
  </div>
  <div class="col-md-3">
    <%= render "access_and_copyright" %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "related_material" %>
  </div>
  <div class="col-md-6">
    <%= render "misc_details" %>
  </div>
</div>
