<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms %>
<% if fields.length > 0 %>
  <div class="<%= presenter_class %> card mb-2 rounded-0">
    <div class="card-header rounded-0"><%= title %></div>
    <div class="card-body">
      <% if presenter == AboutThisItemPresenter && document['visibility_ssi'] == 'low_res' %>
        <p class="resolution-download-restriction">
          <%= t('blacklight.work.about_this_item.low_resolution') %> <%= t('blacklight.work.about_this_item.downloads') %>
        </p>
      <% elsif presenter == AboutThisItemPresenter && document['visibility_ssi'] == 'emory_low' %>
        <p class="resolution-download-restriction">
          <%= t('blacklight.work.about_this_item.low_resolution') %>
        </p>
      <% end %>
      <dl>
        <% fields.each do |field_name, field| %>
          <div class="row">
            <dt class="blacklight-<%= field_name.parameterize %> <%= add_class_dt %>">
              <%= render_document_show_field_label document, field: field_name %>
            </dt>
            <dd class="blacklight-<%= field_name.parameterize %> <%= add_class_dd %>">
              <% if field_is_for_dates?(field_name) %>
                <%= dates_on_separate_lines(document, field_name).html_safe %>
              <% else %>
                <%= doc_presenter.field_value field %>
              <% end %>
            </dd>
          </div>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
