<div class="row mb-2">
  <div class="col-lg-4">
    <%= render "is_part_of", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render "about_this_item", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render 'show_tools', document: document %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-lg-4">
    <%= render "contains", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render "subjects_keywords", document: document %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-lg-4">
    <%= render "find_this_item", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render "publication_details", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render "access_and_copyright", document: document %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-lg-4">
    <%= render "related_material", document: document %>
  </div>
  <div class="col-lg-4">
    <%= render "additional_details", document: document %>
  </div>
</div>
