<div class="card-columns">
    <%= render "is_part_of", document: document %>
    <%= render "find_this_item", document: document %>
    <%= render "related_material", document: document %>

    <%= render "about_this_item", document: document %>
    <%= render "subjects_keywords", document: document %>
    <%= render "publication_details", document: document %>
    <%= render "additional_details", document: document %>

    <%= render 'show_tools', document: document %>
    <%= render "access_and_copyright", document: document %>
</div>
