<div class="row">
  <div class="col-md-3">
    <%= render "is_part_of" %>
  </div>
  <div class="col-md-7">
    <%= render "about_this_item", document: document %>
  </div>
  <div class="col-md-2">
    <%= render 'show_tools', document: document %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "contains", document: document %>
  </div>
  <div class="col-md-7">
    <%= render "subjects_keywords", document: document %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "find_this_item", document: document %>
  </div>
  <div class="col-md-7">
    <%= render "publication_details", document: document %>
  </div>
  <div class="col-md-2">
    <%= render "access_and_copyright", document: document %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render "related_material", document: document %>
  </div>
  <div class="col-md-7">
    <%= render "misc_details", document: document %>
  </div>
</div>
