<%= form_tag search_action_url, method: :get, class: 'search-query-form', role: 'search' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  <% if search_fields.length > 1 %>
    <label for="search_field" class="sr-only sr-only-focusable"><%= t('blacklight.search.form.search_field.label') %></label>
  <% end %>
  <div class="input-group col-md-12">
    <% if search_fields.length > 1 %>
        <%= select_tag(:search_field,
                       options_for_select(search_fields, h(params[:search_field])),
                       title: t('blacklight.search.form.search_field.title'),
                       id: "search_field",
                       class: "custom-select search-field col-4") %>
    <% elsif search_fields.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
    <% end %>

    <label for="q" class="sr-only sr-only-focusable"><%= t('blacklight.search.form.search.label') %></label>
    <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search-q q form-control col-8", id: "q", autofocus: presenter.autofocus?, data: { autocomplete_enabled: presenter.autocomplete_enabled?, autocomplete_path: search_action_path(action: :suggest) }  %>

    <span class="input-group-append">
      <button class="btn btn-primary rounded-0" id="search">
        <%= t('blacklight.search.form.submit') %>
      </button>
    </span>
  </div>
<% end %>
