<% doc_presenter = show_presenter(document) %>
<% fields = presenter.new(document: doc_presenter.fields_to_render).terms(:view_items_in_this_collection) %>
  <div class="<%= presenter_class %> card mb-2 rounded-0" title="<%= t('blacklight.work.view_items_collection') %>">
    <div class="card-body">
      <dl title="<%= t('blacklight.work.view_items_collection') %>">
        <dt title="collection link"></dt>
        <dd class="blacklight-view-items-in-collection"><a href="/?f%5Bsource_collection_title_ssim%5D%5B%5D=<%= CGI::escape(document[:title_tesim]&.first) %>&per_page=10"><%= t('blacklight.work.view_items_collection') %></a></dd>
      </dl>
    </div>
  </div>
