<!DOCTYPE html>
<html>
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GA_TRACKING_CODE']  %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GA_TRACKING_CODE']  %>');
    </script>

    <title>Lux</title>
    <!-- Fonts for Emory styling -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap" type='text/css' >

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
